header {
  background:  rgb(234, 9, 133);
  width: 100%;
  float: left;
  padding : -50px;
  margin: -10px 0;
  box-shadow: 0px 0px 15px #777;
  z-index: 99;
}
.wrapper {
  max-width: 1200px;
  padding: 0px 20px;
  margin: auto;
}


/*-- Navbar CSS --*/

.navbar-brand{
  color: white;
  float: left;
  margin-top: 25px ;
  align-items: center;
}
.nav-menus {
  align-self: center;
  height: 80px;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
}
.nav-menus li {
  list-style: none;
  position: relative;
  padding: 30px 0px;
}
.nav-menus a {
  color: #fff;
  position: relative;
  font-size: 17px;
  text-decoration: none;
  padding: 15px 12px;
  z-index: 1;
}
.nav-menus li:hover {
  color: #fff;
}
.nav-menus a:after {
  content: "";
  width: 100%;
  height: 0px;
  background-color: rgb(234, 9, 133);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  transition: 0.5s;
  z-index: -1;
}
.nav-menus li:hover > a:after{
  height: 100%;
}
.nav-menus svg{
  margin-right: 8px;
  height: 16px;
  width: 16px
}
.toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px;
  color: #fff;
  font-size: 26px;
  display: none;
  cursor: pointer;
}
.nav-menus.active{
  display: block;
}

/*-- Sub Menus CSS--*/
.sub-menus ul {
  position: absolute;
  top: 80px;
  background-color: #fff;
  padding: 5px 0px;
  min-width: 150px;
  box-shadow: 0px 0px 8px #636363;
  border-radius: 4px;
  display: none;
}
.sub-menus:hover ul {
  display: block;
}
.sub-menus ul li {
  padding: 5px 0px;
}
.sub-menus ul li a {
  padding: 8px 10px;
  display: block;
  color: rgb(248, 2, 195);
}
.sub-menus ul li:hover a {
  color: #bd9b2b;
}
.sub-menus ul::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -9px;
}

/*-- Responsive Menus Bar CSS--*/
@media (max-width:767px) {
.toggle-btn{
  display: block;
}
.nav-menus {
  position: absolute;
  width: 100%;
  background: #902828;
  top: 100px;
  right: 0;
  display: none;
  padding: 0px 15px;
  box-sizing: border-box;
}
.nav-menus::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid  rgb(234, 9, 133);
  position: absolute;
  top: -10px;
  right: 10px;
}
.sub-menus ul {
  position: static;
}
.sub-menus ul::before {
  display: none;
}
.nav-menus li {
  padding: 0px;
}
.nav-menus li a {
  display: block;
  margin: 15px 0px;
}
}

.card{
  height: 300px;
  width: 300px;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-footer{
  font-size: x-large;
  font-weight: bold;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  color: #333;
}

footer {  
  background: rgb(234, 9, 133);  
   color: white;  
   margin-top: 50px;  
 }  
 footer a {
   color: #fff;
   font-size: 14px;
   transition-duration: 0.2s;
  }
 footer a:hover {  
   color: #FA944B;  
   text-decoration: none;  
 }
 .copy {
   font-size: 12px;
   padding: 10px;  
   border-top: 1px solid #FFFFFF;  
 }  
 .footer-middle {  
   padding-top: 2em;  
   color: white;  
 }  
 ul.social-network {  
   list-style: none;  
   display: inline;  
   margin-left: 0 !important;  
   padding: 0;  
 }  
 ul.social-network li {  
   display: inline;  
   margin: 0 5px;  
 }  
   
 .social-network a.icoFacebook:hover {  
   background-color:  rgb(234, 9, 133); 
 }  
 .social-network a.icoLinkedin:hover {  
   background-color:  rgb(234, 9, 133); 
 }  
 .social-network a.icoFacebook:hover i  
 {  
   color: #fff;  
 }  
 .social-network a.icoLinkedin:hover i {  
   color: #fff;  
 }  
 .social-network a.socialIcon:hover {  
   color: #44BCDD;  
 }  
 .socialHoverClass {  
   color: #44BCDD;  
 }  
 .social-circle li a {  
   display: inline-block;
   position: relative;  
   margin: 0 auto 0 auto;  
   -moz-border-radius: 50%;  
   -webkit-border-radius: 50%;  
   border-radius: 50%;  
   text-align: center;  
   width: 30px;  
   height: 30px;  
   font-size: 15px;  
 }  
 .social-circle li i {  
   margin: 0;  
   line-height: 30px;  
   text-align: center;  
 }  
 .social-circle li a:hover i  
 {  
   -moz-transform: rotate(360deg);  
   -webkit-transform: rotate(360deg);  
   -ms--transform: rotate(360deg);  
   transform: rotate(360deg);  
   -webkit-transition: all 0.2s;  
   -moz-transition: all 0.2s;  
   -o-transition: all 0.2s;  
   -ms-transition: all 0.2s;  
   transition: all 0.2s;  
 }  
 .triggeredHover {  
   -moz-transform: rotate(360deg);  
   -webkit-transform: rotate(360deg);  
   -ms--transform: rotate(360deg);  
   transform: rotate(360deg);  
   -webkit-transition: all 0.2s;  
   -moz-transition: all 0.2s;  
   -o-transition: all 0.2s;  
   -ms-transition: all 0.2s;  
   transition: all 0.2s;  
 }  
 .social-circle i {  
   color: #595959;  
   -webkit-transition: all 0.8s;  
   -moz-transition: all 0.8s;  
   -o-transition: all 0.8s;  
   -ms-transition: all 0.8s;  
   transition: all 0.8s;  
 }  
 .social-network a {  
   background-color: #F9F9F9;  
 }  
 .social-network a:hover {  
 background: #ff304d;  
 } 

 .like-button, .cart-button {
  transition: transform 0.3s ease-in-out;
}

.like-button.liked {
  transform: scale(1.2);
}

.cart-button:hover {
  transform: scale(1.2);
}